<% provide(:title, 'Genres') %>
<p id="notice"><%= notice %></p>

<h1 class="text-center">Genres</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Game Count</th>
      <% if session[:gamer_id] and session[:user_type] == "admin" %>
      <th colspan="2">Options</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @genres.zip(@counts).each do |genre, count| %>
      <tr>
        <td><%= link_to genre.name, genre %></td>
        <td><%= count %></td>
        <% if session[:gamer_id] and session[:user_type] == "admin" %>
        <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
        <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:gamer_id] and session[:user_type] == "admin" %>
<%= link_to 'New Genre', new_genre_path %>
<% end %>
