<% provide(:title, 'Search') %>
<h1>Search for Games/Developers/Backgrounds/Emotes</h1>

<div class="search-container">
<h2>Search For Games by Name</h2>
<%= form_tag do %>
  <input type="hidden" name="search_type" value="game_by_name">
  <div class="form-group">
    <label for="minimumPrice">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
<% end %>
</div>

<div class="search-container">
<h2>Search For Games in a Price Range</h2>
<%= form_tag do %>
  <input type="hidden" name="search_type" value="game_by_price_range">
  <div class="form-group">
    <label for="minimumPrice">Minimum Price</label>
    <input type="text" class="form-control" id="minimumPrice" name="minimum_price" value="0">
  </div>
  <div class="form-group">
    <label for="maximumPrice">Maximum Price</label>
    <input type="text" class="form-control" id="maximumPrice" name="maximum_price" value="1000">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
<% end %>
</div>

<div class="search-container">
<h2>Search For Games by Company Name</h2>
<%= form_tag do %>
  <input type="hidden" name="search_type" value="game_by_company">
  <div class="form-group">
    <label for="minimumPrice">Company</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
<% end %>
</div>
<div class="search-container">
<h2>Search For Games by number of backgrounds</h2>
<%= form_tag do %>
  <input type="hidden" name="search_type" value="game_by_background_count">
  <div class="form-group">
    <label for="minimumBackground">Minimum Backgrounds</label>
    <input type="text" class="form-control" id="minimumBackground" name="minimum_Background" value="1">
  </div>
  <div class="form-group">
    <label for="maximumBackground">Maximum Backgrounds</label>
    <input type="text" class="form-control" id="maximumBackground" name="maximum_Background" value="10">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
<% end %>
</div>
<div class="search-container">
<h2>Search For Games by number of cards</h2>
<%= form_tag do %>
  <input type="hidden" name="search_type" value="game_by_card_range">
  <div class="form-group">
    <label for="minimumNumOfCards">Minimum number of cards</label>
    <input type="text" class="form-control" id="minimumNumOfCards" name="minimum_number_of_cards" value="5">
  </div>
  <div class="form-group">
    <label for="maximumNumOfCards">Maximum number of cards</label>
    <input type="text" class="form-control" id="maximumNumOfCards" name="maximum_number_of_cards" value="15">
  </div>
  <div class="form-group">
    <input type="checkbox" name="foil" value=0> Search for foil cards<br>
</div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
<% end %>
</div>
<div class="search-container">
<h2>Search For Games by average cards price</h2>
<%= form_tag do %>
  <input type="hidden" name="search_type" value="game_by_avg_card_price">
  <div class="form-group">
    <label for="minimumAvgCards">Minimum average price cards</label>
    <input type="text" class="form-control" id="minimumAvgCards" name="minimum_avg_cards_price" value="0.03">
  </div>
  <div class="form-group">
    <label for="maximumAvgCards">Maximum average price cards</label>
    <input type="text" class="form-control" id="maximumAvgCards" name="maximum_avg_cards_price" value="1.00">
  </div>
  <div class="form-group">
    <input type="checkbox" name="foil" value=0> Search for foil cards<br>
</div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
<% end %>
</div>
<div class="search-container">
<h2>Search For Games by average emote price</h2>
<%= form_tag do %>
  <input type="hidden" name="search_type" value="game_by_avg_emote_price">
  <div class="form-group">
    <label for="minimumAvgEmote">Minimum average price emote</label>
    <input type="text" class="form-control" id="minimumAvgEmote" name="minimum_avg_emote_price" value="0.03">
  </div>
  <div class="form-group">
    <label for="maximumAvgEmote">Maximum average price emote</label>
    <input type="text" class="form-control" id="maximumAvgEmote" name="maximum_avg_emote_price" value="1.00">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
<% end %>
</div>
<div class="search-container">
<h2>Search For Games by number of emotes</h2>
<%= form_tag do %>
  <input type="hidden" name="search_type" value="game_by_num_emote">
  <div class="form-group">
    <label for="minimumNumEmote">Minimum average price emote</label>
    <input type="text" class="form-control" id="minimumNumEmote" name="minimum_num_emote" value="0">
  </div>
  <div class="form-group">
    <label for="maximumNumEmote">Maximum average price emote</label>
    <input type="text" class="form-control" id="maximumNumEmote" name="maximum_num_emote" value="10">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
<% end %>
</div>