<p id="notice"><%= notice %></p>

<h1 class="text-center">Backgrounds</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <% if logged_in? && current_gamer.admin? %>
      <th colspan="2">Options</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @backgrounds.each do |background| %>
      <tr>
        <td><%= link_to background.name, background %></td>
        <td><%= background.price %></td>
	<td><img style="max-width: 200px" src="<%= background.image %>"></td>
	<% if logged_in? && current_gamer.admin? %>
        <td><%= link_to 'Edit', edit_background_path(background) %></td>
        <td><%= link_to 'Destroy', background, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? && current_gamer.admin? %>
<%= link_to 'New Background', new_background_path %>
<% end %>
