<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @background.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @background.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @background.image %>
</p>

<p>
  <strong>Game ID:</strong>
  <%= @background.game_id %>
</p>

<%= link_to 'Edit', edit_background_path(@background) %> |
<%= link_to 'Back', backgrounds_path %>
