<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :steam_id %>
    <%= form.number_field :steam_id, id: :game_steam_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :game_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :game_price %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, id: :game_release_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :game_description %>
  </div>

  <%= form.label :genres %>
  <% Genre.all.each do |genre| %>
    <span><input type="checkbox" name="game[genre_ids][]" value="<%= genre.id %>" <% if game.genres.pluck(:name).include?(genre.name) %>checked<% end %>><%= genre.name %></span>&nbsp;&nbsp;&nbsp;&nbsp;
  <% end %>

  <div class="clearfix"><br></div>

  <%= form.label :companies %>
  <% Company.all.each do |company| %>
    <span><input type="checkbox" name="game[company_ids][]" value="<%= company.id %>" <% if game.companies.pluck(:name).include?(company.name) %>checked<% end %>><%= company.name %></span>&nbsp;&nbsp;&nbsp;&nbsp;
  <% end %>


  <div class="clearfix"><br></div>

  <%= form.label :system_requirements %>
  <% if game.system_requirement %>
  <table>
    <tr>
      <td>Processor</td>
      <td>
	<select name="game[processor_id]">
	  <option value="0">--</option>
	  <% Processor.all.each do |processor| %>
	    <option value="<%= processor.id %>" <% if game.system_requirement.processor.name == processor.name %>selected<% end %>><%= processor.name %></option>
	<% end %>
	</select>
      </td>
    </tr>
    <tr>
      <td>Memory</td>
      <td>
	<select name="game[memory_id]">
	  <option value="0">--</option>
	  <% Memory.all.each do |memory| %>
	    <option value="<%= memory.id %>" <% if game.system_requirement.memory.name == memory.name %>selected<% end %>><%= memory.name %></option>
	<% end %>
	</select>
      </td>
    </tr>
    <tr>
      <td>Graphics Card</td>
      <td>
	<select name="game[graphic_id]">
	  <option value="0">--</option>
	  <% Graphic.all.each do |graphic| %>
	    <option value="<%= graphic.id %>" <% if game.system_requirement.graphic.name == graphic.name %>selected<% end %>><%= graphic.name %></option>
	<% end %>
	</select>
      </td>
    </tr>
  </table>
  <% else %>
  <table>
    <tr>
      <td>Processor</td>
      <td>
	<select name="game[processor_id]">
	  <option value="0">--</option>
	  <% Processor.all.each do |processor| %>
	    <option value="<%= processor.id %>"><%= processor.name %></option>
	<% end %>
	</select>
      </td>
    </tr>
    <tr>
      <td>Memory</td>
      <td>
	<select name="game[memory_id]">
	  <option value="0">--</option>
	  <% Memory.all.each do |memory| %>
	    <option value="<%= memory.id %>"><%= memory.name %></option>
	<% end %>
	</select>
      </td>
    </tr>
    <tr>
      <td>Graphics Card</td>
      <td>
	<select name="game[graphic_id]">
	  <option value="0">--</option>
	  <% Graphic.all.each do |graphic| %>
	    <option value="<%= graphic.id %>"><%= graphic.name %></option>
	<% end %>
	</select>
      </td>
    </tr>
  </table>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :game_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
