<p id="notice"><%= notice %></p>

<p>
  <strong>Steam:</strong>
  <%= @game.steam_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @game.image %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @game.genres.map(&:name).join(', ') %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
