<% provide(:title, @game.name) %>
<p id="notice"><%= notice %></p>

<h1 class="text-center game-header"><%= @game.name %></h1>

<%= image_tag(@game.image, alt: "game banner", class: "center-block game-banner") %>

<p class="pull-left"><strong>Steam ID:</strong> <%= link_to @game.steam_id, "https://store.steampowered.com/app/#{@game.steam_id}", target: "_blank" %></p>

<p class="pull-right">
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<div class="clearfix clearfix-divider"></div>

<p class="text-center game-price">
  <strong>Current Price (USD):</strong>
  <%= @game.price %>
</p>


<p class="text-center game-description">
  <%= @game.description %>
</p>


<p class="text-center">
  <% @game.genres.each do |genre| %>
    <span class="badge badge-success badge-genre"><%= link_to genre.name, genre%></span>
  <% end %>
</p>

<div class="clearfix clearfix-divider"></div>

<% if session[:gamer_id] and session[:user_type] == "admin" %>
<%= link_to 'Edit', edit_game_path(@game) %> |
<% end %>
<%= link_to 'Back', games_path %>
