<% provide(:title, @game.name) %>
<p id="notice"><%= notice %></p>

<h1 class="text-center game-header"><%= @game.name %></h1>

<%= image_tag(@game.image, alt: "game banner", class: "center-block game-banner") %>

<p class="pull-left"><strong>Steam ID:</strong> <%= link_to @game.steam_id, "https://store.steampowered.com/app/#{@game.steam_id}", target: "_blank" %></p>

<p class="pull-right">
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<div class="clearfix clearfix-divider"></div>

<p class="text-center game-price">
  <strong>Current Price (USD):</strong>
  <%= @game.price %>
</p>

<p class="text-center">
  <strong>Developed By</strong><br/><br/>
  <% @game.companies.each do |company| %>
    <span class="label label-primary label-company"><%= link_to company.name, company%></span>
  <% end %>
</p>

<div class="clearfix clearfix-divider"></div>

<p class="text-center game-description">
  <%= @game.description %>
</p>


<p class="text-center clearfix-divider">
  <strong>Genre(s)</strong><br/><br/>
  <% @game.genres.each do |genre| %>
    <span class="badge badge-success badge-genre"><%= link_to genre.name, genre%></span>
  <% end %>
</p>

<p class="text-center">
<strong>System Requirements</strong>
<% if @game.system_requirement %>
<table class="table table-bordered">
  <tr><td><strong>Processor</strong></td><td><% if @game.system_requirement.processor %><%= @game.system_requirement.processor.name %><% end %></td></tr>
  <tr><td><strong>Memory</strong></td><td><% if @game.system_requirement.memory %><%= @game.system_requirement.memory.name %><% end %></td></tr>
  <tr><td><strong>Graphics Card</strong></td><td><% if @game.system_requirement.graphic %><%= @game.system_requirement.graphic.name %><% end %></td></tr>
</table>
<% end %>
</p>

<div class="wrapper">
  <h1>Game Price</h1>
  <canvas id="myChart" width="1600" height="500"></canvas>
</div>

<div class="clearfix clearfix-divider"></div>

<% if logged_in? && current_gamer.admin? %>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Destroy', @game, method: :delete, data: {confirm: 'Are you sure?'} %> |
<% end %>
<%= link_to 'Back', games_path %>

<div class="row">
  <div class="row col-md-8 col-md-offset-2">
    <%= link_to like_game_path(@game, like: true), method: :post do %>
      <i class="glyphicon glyphicon-thumbs-up"></i> 
    <% end %> <%= @game.thumbs_up_total %> || 
    <%= link_to like_game_path(@game, like: false), method: :post do %>
      <i class="glyphicon glyphicon-thumbs-down"></i>
    <% end %> <%= @game.thumbs_down_total %>
  </div>
</div>


<% if @game.comments != 0 %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Prior Comments: </h3>
        <div id="messages">
          <%= render partial: 'comments/comments', object: @comments %>
        </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>No Comments Yet!</h3>
    </div>
  </div>
<% end %>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments: </h3>
      <hr />
      <%= form_for([@game, @comment], :html => {class: "form-horizontal", 
         role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description, "Comment" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description, rows: 8, class: "form-control", 
            placeholder: "Enter Comment Here" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "Submit Comment", 
            class: "btn btn-primary btn-lg btn-xlarge" %>
          </div>
        </div>
      <% end %>
      <hr />
    </div>
  </div>
<% end %>

<script>
var time = [];
var price = [];
<% @game.price_histories.each do |price_history| %>
  time.push('<%= price_history.time %>');
  price.push(<%= price_history.price %>);
<% end %>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: time,
    datasets: [
      { 
        data: price,
	label: 'price',
	steppedLine: true,
	borderColor: "#3e95cd",
	fill: false
      }
    ]
  },
options: {
    scales: {
      xAxes: [{
        type: 'time',
	      time: {
	      	displayFormats: {
			'millisecond': 'MMM DD',
           'second': 'MM-DD-YYYY',
           'minute': 'MM-DD-YYYY',
           'hour': 'MM-DD-YYYY',
           'day': 'MM-DD-YYYY',
           'week': 'MM-DD-YYYY',
           'month': 'MM-DD-YYYY',
           'quarter': 'MM-DD-YYYY',
           'year': 'MM-DD-YYYY',
		}
	      }
      }],
    },
  }
});
</script>
