<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :card_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :card_price %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image, id: :card_image %>
  </div>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.number_field :game_id, id: :card_steam_id %>
  </div>

  <div class="field">
    <input type="hidden" name="card[foil]" value="false">
    <label><input type="checkbox" name="card[foil]" value="true"> foil</label>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
