<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Foil</th>
      <% if logged_in? && current_gamer.admin? %>
      <th colspan="2">Options</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card.name, card %></td>
        <td><%= card.price %></td>
        <td><img style="max-width: 200px" src="<%= card.image %>"></td>
	<td><% if card.foil == true %>Yes<% else %>No<% end %></td>
	<% if logged_in? && current_gamer.admin? %>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
