<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @card.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @card.image %>
</p>

<p>
  <strong>Steam:</strong>
  <%= @card.game_id %>
</p>

<p>
  <strong>Foil:</strong>
  <%= @card.foil %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
